<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="theme-color" content="#2d2c2c">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover">
        <meta property="og:title" content="">
        <meta content="" property="og:description">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <title></title>
        <link rel="manifest" href="static/manifest.webmanifest">
        <link rel="stylesheet" type="text/css" href="static/css/app.css">
        <script src="static/js/jquery-3.7.1.min.js"></script>
        <script src="static/js/jquery-3.7.1"></script>
        <script defer="defer" src="static/js/wasm_exec.js"></script>
        <script defer="defer" src="static/js/app.js"></script>
    </head>
    <body>
    </body>
</html>